{
  "tabWidth": 2,
  "singleQuote": true,
  "printWidth": 80,
  "arrowParens": "avoid",
  "importOrder": [
    "^(react/(.*)$)|^(react$)",
    "^(next/(.*)$)|^(next$)",
    "<THIRD_PARTY_MODULES>",
    "",
    "^types$",
    "^@/types/(.*)$",
    "^@/components/(.*)$",
    "^@/ui/(.*)$",
    "^@/lib/(.*)$",
    "^@/helpers/(.*)$",
    "^@/app/(.*)$",
    "^@/assets/(.*)$",
    "^@/styles/(.*)$",
    "^[./]"
  ],
  "importOrderBuiltinModulesToTop": true,
  "importOrderCaseInsensitive": true,
  "importOrderParserPlugins": ["typescript", "jsx", "decorators-legacy"],
  "importOrderMergeDuplicateImports": true,
  "importOrderCombineTypeAndValueImports": true,
  "importOrderSortSpecifiers": true
}
